@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap");

/* body {
  background: #ccffbd;
  font-family: Assistant;
} */

/* Tabel CSS */
/* .tab {
  padding-top: 105px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 10px;
} */

.table-tab {
  background-color: white;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table {
  background-color: white;

  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 10px 10px 10px 10px;
}

/* .wrap-tab{
    background: #ffffff;
    margin: 0 auto;
    margin-top: 5%;
    width: 1000px;
    height: 1000px; */
/* border: 1px solid #f1f1f1; */
/* perspective: 1000px; */
/* } */

.bawah {
  background-color: white;
  height: 100px;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}